.sorting-options {
  margin-bottom: 20px;
}

.sorting-options label {
  margin-right: 10px;
}

.sorting-options select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
